@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist;

<h3>Add a Stylist</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <br><br>
  @Html.Label("Date Hired:")
  @Html.TextBoxFor(model =>model.DateHired, "{0:yyyy-MM-dd}", new {type="date"})
  <br><br>
  @Html.LabelFor(model => model.Specialties)
  @Html.TextBoxFor(model => model.Specialties)
  <br><br>
  <input type="submit" value="Add Stylist"/>
}
<br>