@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;
<div class="card">
<h1>About this Stylist</h1>

<h2><span class="stylist-info"><strong>@Html.DisplayFor(model => model.Name)</strong></span></h2>
<h3><strong>Date Hired:</strong> <span class="stylist-info">@Model.DateHired.ToShortDateString()</span></h3>
<h3><strong>@Html.DisplayNameFor(model => model.Specialties):</strong> <span class="stylist-info">@Html.DisplayFor(model => model.Specialties)</span></h3>
</div>

<center><h2>Clients:</h2></center>
<div id="flexbox">
  @if (@Model.Clients.Count == 0)
  {
    <div class="card">
    <h4>This stylist has no current clients.</h4>
    @Html.ActionLink("Add a client", "Create", "Clients")
    </div>
  }
  @foreach (Client client in @Model.Clients)
  {
    <div class="card client">
    <h3>@client.Name</h3>
    <strong>Notes:</strong> @client.Notes
    </div>
  }
  </div>
  

