@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;
<div class="card">
<h1>About this Stylist</h1>

<h2><strong>@Html.DisplayFor(model => model.Name)</strong></h2>
<h3><strong>Date Hired:</strong> @Model.DateHired.Date</h3>
<h3><strong>@Html.DisplayNameFor(model => model.Specialties):</strong> @Html.DisplayFor(model => model.Specialties).</h3>
</div>
<center>
<h2>Clients:</h2>

  @if (@Model.Clients.Count == 0)
  {
    <div class="card">
    <h4>This stylist has no current clients.</h4>
    @Html.ActionLink("Add a client", "Create", "Clients")
    </div>
  }
  @foreach (Client client in @Model.Clients)
  {
    <div class="card client animated bounceInBottom">
    <h3>@client.Name</h3>
    <strong>Notes:</strong> @client.Notes
    </div>
  }
  </center>
  </div>

